{% extends "foreign_base.html" %}


{% block content %}
<div class="container-fluid">
    <div class="row pt-5 offset-md-0">
        <div class="col-8 px-3">
            <h1 class="display-4 text-primary">Welcome to Demo Trading!</h1>
            <hr>
            <p>
                Welcome future investor! This is a free, online paper trading platorm. Start off with 1 million dollars and
                be the best investor! Sign up to get started!
            </p>
            <p style="text-align:center;">
                <iframe src="https://giphy.com/embed/xT5LMsxMSOgcP6NTUs" width="480" height="360" frameBorder="0"
                    class="giphy-embed" allowfullscreen></iframe>
            <p><a href="https://giphy.com/gifs/season-12-the-simpsons-12x9-xT5LMsxMSOgcP6NTUs">via GIPHY</a></p>
            </p>
        </div>
    </div>

</div>



{% endblock %}