{% extends "foreign_base.html" %}


{% block content %}
<div class="container-fluid">
    <div class="row pt-5 offset-md-0">
        <div class="col-8 px-3">
            <h1 class="display-4 text-primary">Welcome to FundPro!</h1>
            <hr>
            <p>
                Welcome to FundPro, a free, online paper trading platorm that allows you to compete against
                other users every fiscal quarter to get the most returns. Start off with 1 million dollars and
                be the best investor! Sign up to get started!
            </p>
        </div>
    </div>

</div>



{% endblock %}